<p-toast [baseZIndex]="10000"></p-toast>
<div
  *ngIf="
    user_role.toLowerCase() != 'vendor' &&
      user_role.toLowerCase() != 'QA Team';
    else elseBlock
  "
>
  <div
    class="d-flex justify-content-between small-screen"
    style="margin-top: 1rem"
  >
    <div class="p-2 flex-fill bd-highlight">
      <div
        class="card custom-border"
        style="
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, 0.23);
        "
      >
        <div class="container-fluid">
          <div class="card-body">
            <div class="row">
              <div>
                <img
                  src="./assets/events.svg"
                  class="card-img-left"
                  alt="..."
                  style="max-width: 4.6875em"
                  class="img-responsive"
                />
              </div>
              <div style="margin-left: 0.5rem">
                <strong class="card-title kpi-title">Events</strong>
                <div *ngIf="isEndCustomerLoading" class="card-text">
                  <b class="kpi-data">
                    <app-loading-spinner></app-loading-spinner>
                  </b>
                </div>
                <!-- <div
                  *ngIf="!isEndCustomerLoading"
                  style="color: #047CCF"
                  class="card-text"
                >
                  <b class="kpi-data">00</b>Total

                  <b class="kpi-data">00</b>Success
                </div> -->
                <div
                  *ngIf="!isEndCustomerLoading"
                  style="
                    color: #047CCF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                  class="card-text"
                >
                  <b class="kpi-data">{{ cardDetails?.eventTotalCount }}</b>
                  <span class="text-value-xl">Total</span>
                  <div class="vl"></div>
                  <b class="kpi-data">{{ cardDetails?.eventSuccesscount }}</b>
                  <span class="text-value-xl">Success</span>
                  <div class="vl"></div>
                  <b class="kpi-data">{{ cardDetails?.eventCancelledCount }}</b>
                  <span class="text-value-xl">Cancelled</span>
                  <div class="vl"></div>
                  <b class="kpi-data">{{ cardDetails?.eventNotConcluded }}</b>
                  <span class="text-value-xl">NC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="p-2 flex-fill bd-highlight">
      <div
        class="card custom-border"
        style="
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, 0.23);
        "
      >
        <div class="container-fluid">
          <div>
            <div class="card-body" data-toggle="tooltip" data-placement="top">
              <div class="row">
                <div>
                  <img
                    src="./assets/vendors.svg"
                    class="card-img-left"
                    alt="..."
                    style="max-width: 4.6875em"
                    class="img-responsive"
                  />
                </div>
                <div style="margin-left: 0.5rem">
                  <strong class="card-title kpi-title">Vendors</strong>
                  <div *ngIf="isEndCustomerLoading" class="card-text">
                    <b class="kpi-data">
                      <app-loading-spinner></app-loading-spinner>
                    </b>
                  </div>
                  <!-- <div
                    *ngIf="!isEndCustomerLoading"
                    style="color: #047CCF"
                    class="card-text"
                  >
                    <b class="kpi-data">100</b>Active

                    <b class="kpi-data">30</b>Inactive
                  </div> -->
                  <div
                    *ngIf="!isEndCustomerLoading"
                    style="
                      color: #047CCF;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                    class="card-text"
                  >
                    <b class="kpi-data">{{ cardDetails?.vendorsTotalCount }}</b>
                    <span class="text-value-xl">Total</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{ cardDetails?.vendorsActiveCount }}</b>
                    <span class="text-value-xl">Active</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{
                      cardDetails?.vendorsInactiveCount
                    }}</b>
                    <span class="text-value-xl">Inactive</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{ cardDetails?.vendorsNACount }} </b>
                    <span class="text-value-xl">NA</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 flex-fill bd-highlight">
      <div
        class="card custom-border"
        style="
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, 0.23);
        "
      >
        <div class="container-fluid">
          <div>
            <div class="card-body">
              <div class="row">
                <div>
                  <img
                    src="./assets/documents.svg"
                    class="card-img-left"
                    alt="..."
                    style="max-width: 4.6875em"
                    class="img-responsive"
                  />
                </div>
                <div style="margin-left: 0.5rem">
                  <strong class="card-title kpi-title">Documents</strong>
                  <div *ngIf="isEndCustomerLoading" class="card-text">
                    <b class="kpi-data">
                      <app-loading-spinner></app-loading-spinner>
                    </b>
                  </div>
                  <!-- <div
                    *ngIf="!isEndCustomerLoading"
                    style="color: #047CCF"
                    class="card-text"
                  >
                    <b class="kpi-data">00</b>Total

                    <b class="kpi-data">00</b>Success
                  </div> -->
                  <div
                    *ngIf="!isEndCustomerLoading"
                    style="
                      color: #047CCF;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                    class="card-text"
                  >
                    <b class="kpi-data">{{ cardDetails?.documentTotalCount }}</b>
                    <span class="text-value-xl">Total</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{ cardDetails?.documentRFQCount }}</b>
                    <span class="text-value-xl">RFQ</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{ cardDetails?.documentRFICount }}</b>
                    <span class="text-value-xl">RFI</span>
                    <div class="vl"></div>
                    <b class="kpi-data">{{ cardDetails?.documentRFPCount }}</b>
                    <span class="text-value-xl">RFP</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- when vendor -->
<ng-template #elseBlock>
  <div class="row" style="margin-top: 1rem">
    <div class="col-sm-6 events-card-custom-padding">
      <div
        class="card custom-border"
        style="
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, 0.23);
        "
      >
        <div class="container-fluid">
          <div>
            <div class="card-body">
              <div class="row">
                <div>
                  <img
                    src="./assets/events.svg"
                    alt="..."
                    class="img-responsive"
                    style="align-items: center"
                    style="max-width: 4.6875em"
                  />
                </div>
                <div style="margin-left: 0.5rem; margin-top: 1.4rem">
                  <strong class="card-title kpi-title-vendor">Events</strong>
                  <br />
                  <div *ngIf="isEndCustomerLoading" class="card-text">
                    <b class="kpi-data">
                      <app-loading-spinner></app-loading-spinner>
                    </b>
                  </div>
                </div>

                <div
                  class="card-text"
                  *ngIf="!isEndCustomerLoading"
                  style="margin-left: 35px"
                >
                  <!-- <div class="col"> -->
                  <div class="text-value-xl-vendor">Total</div>
                  <div class="kpi-data-vendor">{{ cardDetails?.eventTotalCount }}</div>
                  <!-- </div> -->
                  <div class="vl"></div>
                  <!-- <div class="col"> -->
                  <div class="text-value-xl-vendor">Success</div>
                  <div class="kpi-data-vendor">{{ cardDetails?.eventSuccesscount }}</div>
                  <!-- </div> -->
                  <div class="vl"></div>
                  <!-- <div class="col"> -->
                  <div class="text-value-xl-vendor">Cancelled</div>
                  <div class="kpi-data-vendor">{{ cardDetails?.eventCancelledCount }}</div>
                  <!-- </div> -->
                  <div class="vl"></div>
                  <!-- <div class="col"> -->
                  <div class="text-value-xl-vendor" style="word-break: unset">
                    NC
                  </div>
                  <div class="kpi-data-vendor">{{ cardDetails?.eventNotConcluded }}</div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 document-card-custom-padding">
      <div
        class="card custom-border"
        style="
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, 0.23);
        "
      >
        <div class="container-fluid">
          <div class="card-body">
            <div class="row">
              <div>
                <img
                  src="./assets/documents.svg"
                  alt="..."
                  class="img-responsive"
                />
              </div>
              <div style="margin-left: 0.5rem; margin-top: 1.4rem">
                <strong class="card-title kpi-title-vendor">Documents</strong>
                <div *ngIf="isEndCustomerLoading" class="card-text">
                  <b class="kpi-data">
                    <app-loading-spinner></app-loading-spinner>
                  </b>
                </div>
              </div>

              <div
                *ngIf="!isEndCustomerLoading"
                class="card-text"
                style="margin-left: 35px"
              >
                <!-- <div class="col"> -->
                <div class="text-value-xl-vendor">Total</div>

                <div class="kpi-data-vendor">{{cardDetails?.documentTotalCount}}</div>
                <!-- </div> -->
                <div class="vl"></div>
                <!-- <div class="col"> -->
                <div class="text-value-xl-vendor">RFQ</div>
                <div class="kpi-data-vendor">{{cardDetails?.documentRFQCount}}</div>
                <!-- </div> -->
                <div class="vl"></div>
                <!-- <div class="col"> -->
                <div class="text-value-xl-vendor">RFI</div>
                <div class="kpi-data-vendor">{{cardDetails?.documentRFICount}}</div>
                <!-- </div> -->
                <div class="vl"></div>
                <!-- <div class="col"> -->
                <div class="text-value-xl-vendor">RFP</div>
                <div class="kpi-data-vendor">{{cardDetails?.documentRFPCount}}</div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div>
  <app-customer-details></app-customer-details>
</div>
